<body>
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center title">Expense</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="list-group">
                <li class="list-group-item expense-list-item">2 Nov 2020 - Shopping : 10000</li>
                <li class="list-group-item expense-list-item">9 Nov 2020 - Tour : 2000</li>
                <li class="list-group-item expense-list-item">16 Nov 2020 - Dinner : 3000</li>
              </ul> 
        </div>
    </div>
</body>

