<div class="top">
    <div class="budget">
      <div class="title">
        Available Budget: + 2,345.64
      </div>

      <!-- <div class="budget_value">+ 2,345.64</div> -->

      <div class="income clearfix">
        <div class="income_text">Income: &nbsp;</div>
        <div class="right">
          <div class="income_value">+ 4,300.00</div>
        </div>
      </div>

      <div class="expense clearfix">
        <div class="expense_text">Expense: &nbsp;</div>
        <div class="right clearfix">
          <div class="expense_value">- 1,954.36</div>
        </div>
      </div>

      <div class="button">
        <button class="btn warning clearfix">ADD NEW</button>
      </div>
      
    </div>
  </div>