<div class="top">
    <div class="budget">
      <div class="title">
        Available Budget: + 30000
      </div>

      <!-- <div class="budget_value">+ 2,345.64</div> -->

      <div class="income clearfix">
        <div class="income_text">Income: &nbsp;</div>
        <div class="right">
          <div class="income_value">+ 45000</div>
        </div>
      </div>

      <div class="expense clearfix">
        <div class="expense_text">Expense: &nbsp;</div>
        <div class="right clearfix">
          <div class="expense_value">- 15000</div>
        </div>
      </div>

      <app-new-entry></app-new-entry>
      
      
    </div>
  </div>