<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">New Entry</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="dateOfBirth">Date</label>
          <div class="input-group">
            <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="selector">Type</label>
          <div class="input-group">
          <select class="form-control" id="type">
      <option>Saving</option>
      <option>Expense</option>
    </select>
          </div>
        </div>
        
  <div class="form-group">
    <label for="description">Description:</label>
    <input type="text" class="form-control" id="description">
  </div>
  
  <div class="form-group">
    <label for="amount">Amount:</label>
    <input type="number" class="form-control" id="amount">
  </div>
  
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
  </ng-template>
  <!-- (click)="open(content)" -->
<div class="button">
    <button class="btn warning clearfix" (click)="open(content)">ADD NEW</button>        
</div>