<body>
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center title">Savings</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="list-group">
                <li class="list-group-item savings-list-item">First item</li>
                <li class="list-group-item savings-list-item">First item</li>
                <li class="list-group-item savings-list-item">First item</li>
                <li class="list-group-item savings-list-item">First item</li>
              </ul> 
        </div>
    </div>
</body>

